<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>demoMVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.cognizant.edialgonsis.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController_Cus</display-name>
    <servlet-name>RegisterController_Cus</servlet-name>
    <servlet-class>com.cognizant.edialgonsis.controller.RegisterController_Cus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController_Cus</servlet-name>
    <url-pattern>/RegisterController_Cus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController_Admin</display-name>
    <servlet-name>RegistrationController_Admin</servlet-name>
    <servlet-class>com.cognizant.edialgonsis.controller.RegistrationController_Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController_Admin</servlet-name>
    <url-pattern>/RegistrationController_Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogim</display-name>
    <servlet-name>AdminLogim</servlet-name>
    <servlet-class>com.cognizant.edialgonsis.controller.AdminLogim</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogim</servlet-name>
    <url-pattern>/AdminLogim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.cognizant.edialgonsis.controller.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController_Doctor</display-name>
    <servlet-name>RegistrationController_Doctor</servlet-name>
    <servlet-class>com.cognizant.edialgonsis.controller.RegistrationController_Doctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController_Doctor</servlet-name>
    <url-pattern>/RegistrationController_Doctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorLogin</display-name>
    <servlet-name>DoctorLogin</servlet-name>
    <servlet-class>com.cognizant.edialgonsis.controller.DoctorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLogin</servlet-name>
    <url-pattern>/DoctorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Medicare_Controller</display-name>
    <servlet-name>Add_Medicare_Controller</servlet-name>
    <servlet-class>com.cognizant.edialgonsis.controller.Add_Medicare_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Medicare_Controller</servlet-name>
    <url-pattern>/Add_Medicare_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicareListController</display-name>
    <servlet-name>MedicareListController</servlet-name>
    <servlet-class>com.cognizant.edialgonsis.controller.MedicareListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicareListController</servlet-name>
    <url-pattern>/MedicareListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchController</display-name>
    <servlet-name>FetchController</servlet-name>
    <servlet-class>com.cognizant.edialgonsis.controller.FetchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchController</servlet-name>
    <url-pattern>/FetchController</url-pattern>
  </servlet-mapping>
</web-app>